@font-face {
  font-family: 'NanumSquare';
  src: url('fonts/NanumSquareR.eot'); /* IE9 Compat Modes */
  src: url('fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/NanumSquareR.woff') format('woff'), /* Modern Browsers */
       url('fonts/NanumSquareR.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('fonts/NanumSquareEB.eot'); /* IE9 Compat Modes */
  src: url('fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/NanumSquareEB.woff') format('woff'), /* Modern Browsers */
       url('fonts/NanumSquareEB.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/NanumSquareOTFExtraBold.svg#090d6763bc81b49309446d23fbd10e87') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  900;
}



*, *::after, *::before
{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: 'NanumSquare';
    font-weight: 400;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}
html, body{
  font-size: 10px;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: var(--white);}
img{ border: 0; }
a{ text-decoration: none; color: var(--black);}
a:hover {color: var(--phlox);}
a:active {color: var(--grey);}
li{ list-style: none;}
button, input { cursor: pointer; outline:none; border:none; background-color: transparent;}
::placeholder{color: var(--white)}
input:-ms-input-placeholder { color: var(--white); }
input::-webkit-input-placeholder { color: var(--white); }
input::-moz-placeholder { color: var(--white); }
input::-moz-placeholder { color: var(--white); }
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
input[type="number"] { -moz-appearance: textfield;}

/* color palette*/
:root {
  --white: #fff;
  --warmwhite: #f9f9f9;
  --grey: #616161;
  --black: #000;
  --phlox: #6f5dff;
}

/* main Page */

.header {
  position: fixed;
  z-index: 1;
  top: 0; left: 0; right: 0;
  padding: 0 10rem;
  height: 8.4rem;
  overflow: auto;
}

.active {
  background-color: var(--white);
}

.header .header-left {
  float: left;
  overflow: auto;
}

.header .logo {
  display: block;
  margin: 0;
  margin-top: 2.5rem;
  width: 13rem;
  height: 3.4rem;
  background-image: url('img/img_logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header .menu{
    display:block; position:relative;
    margin: 0 auto;
}

#main>.contents{
    position: relative; display: block;
    width:100%; height:65rem;
    background-color: var(--white);
    overflow: auto;
    background-image: url('img/img_main_ussly.png');
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: top right;
}

#text>.contents{
    position: relative; display: block;
    width:100%; height: 100vh;
    background-color: var(--white);
}

#main>.contents .contents-left{
  float:left;
  position: relative;
  width: auto;
  margin-left: 15rem;
  margin-top: 17rem;
  overflow: visible;
}

#text>.contents .contents-left{
 float:left;
 position: relative;
 width: auto;
 margin: 17rem 15rem;
}


#main>.contents .contents-left .title {
  width: 100%;
  height: 20rem;
  font-size: 4.6rem;
  font-weight: 900;
  line-height: 1.39;
  letter-spacing: normal;
  color: var(--black);
}

#text>.contents .contents-left .title {
  width: 100%;
  height: 8rem;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.39;
  letter-spacing: normal;
  color: var(--black);
}

#main>.contents .contents-left .subtitle {
  margin-top: 3rem;
  width: 100%;
  height: 9rem;
  font-size: 1.8rem;
  font-weight: 400;
  padding-left: 0.4rem;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--grey);
}

#text>.contents .contents-left .subtitle {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 0.4rem;
  line-height: 2.6;
  letter-spacing: normal;
  color: var(--black);
}
#text>.contents .contents-left .subtitle strong{
  font-weight: 900;
  color: var(--black);
}

#main>.contents .contents-right{

}

.footer{
    display: block; position: relative;
    float: left;
    width: 100%; height: 34rem; bottom: 0rem;
    background-color: var(--warmwhite);
    padding-top: 3.6rem;
    padding-left: 10rem;
}

.footer .logo{
    float: left;
    width: 13rem;
    height: 5rem;
    background-image: url('img/img_logo_grey.svg');
    background-repeat: no-repeat;
}

.footer .text{
    float: left;
    margin: 0.7rem;
    margin-left: 4rem;
    margin-right: 20rem;
    line-height: 3rem;
    width: auto;
    font-size: 1.4rem;
    color: var(--black);
    overflow: hidden;

}
.footer a{ font-weight: 900;}
